pandas
numpy
spacy
nltk
wordcloud
scikit-learn
transformers
torch
matplotlib
adjustText
unidecode
deep-translator
openpyxl
spacy>=3.0
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.5.0/es_core_news_md-3.5.0-py3-none-any.whl
krippendorff
openai
searborn